streamlit
numpy
pandas
scikit-learn
scipy
matplotlib
plotly
shap
lightgbm
imbalanced-learn
category-encoders
thefuzz
python-dotenv
PyMuPDF
pytesseract
Pillow
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.41
langchain-groq==0.1.9
langchain-huggingface==0.0.3
faiss-cpu
sentence-transformers
huggingface-hub
groq
nest-asyncio