streamlit
numpy
pandas
scikit-learn
scipy
matplotlib
plotly
shap
lightgbm
imbalanced-learn
category-encoders
thefuzz
python-dotenv
PyMuPDF
pytesseract
Pillow
faiss-cpu
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
huggingface-hub
groq